/* Login Page Styles */

.login-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #232931;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-img {
    width: 200px;
    margin-bottom: 50px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eeeeee;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .login-info {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
      color: #232931;
    }

    .form-wrapper {
      width: 70%;
      display: flex;
      flex-direction: column;

      .input-field {
        border-radius: 15px;
        outline: none;
        border: none;
        max-width: 100%;
        height: 30px;
        margin: 0 0 30px 0;
        padding: 0 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .input-label {
        color: #232931;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .login-btn {
        border-radius: 15px;
        outline: none;
        border: none;
        background-color: #232931;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        max-width: 100%;
        cursor: pointer;
        height: 30px;
        margin: 20px 0 30px 0;
        padding: 0 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .login-error {
        color: crimson;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

/* General Page Styles */

.page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #232931;

  .page-content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .page-title {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 60px;
  }

  .sidebar-wrapper {
    width: 300px;
    min-height: 100vh;
    background-color: #2d3541;
    display: flex;
    flex-direction: column;

    .image-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;

      .sidebar-img {
        width: 150px;
        margin-top: 30px;
        height: fit-content;
      }
    }

    .links-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 100px;

      .nav-link {
        text-decoration: none;
        color: #fff;
        background: none;
        border: none;
        font-size: 23px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 10px 0;
        cursor: pointer;
        transition: all 0.3s;
      }

      .nav-link:hover {
        letter-spacing: 4px;
      }
    }
  }
}

/* Search Input Styles */
.search-input-wrapper {
  width: 100%;
  text-align: center;
  position: relative;

  .search-btn {
    position: absolute;
    top: 45px !important;
    right: 0;
  }
}

/* Table Styles */

.tbl-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;

  .tbl {
    margin-top: 30px;
    width: 80%;
    background-color: #eeeeee;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .tbl-head {
      background-color: #2d3541;
      color: #eeeeee;
      text-align: center;
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
      height: fit-content;
      border-color: #232931;

      th:nth-child(1) {
        border-radius: 20px 0 0 0;
        width: 260px;
      }

      th:nth-child(3) {
        width: 100px;
      }

      th:nth-child(4) {
        border-radius: 0 20px 0 0;
        width: 100px;
      }
    }

    .tbl-body {
      td {
        border-color: #232931;
        text-align: center;
      }

      .edit-btn {
        border: none;
        cursor: pointer;

        img {
          width: 30px;
        }
      }
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;

  .pagination {
    position: absolute;
    bottom: 0;

    .page-link {
      padding: 10px 20px;
    }
  }
}

/* Gallery Styles */
.gallery-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  .input-field {
    margin-top: 40px;
    width: 60%;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;

    &:focus {
      outline: none;
    }
  }

  .search-btn {
    border: none;
    background: transparent;
    position: absolute;
    top: 150px;
    right: 320px;
    cursor: pointer;

    img {
      width: 20px;
    }
  }

  .images-wrapper {
    display: inline-block;
    width: 100%;
    padding: 30px 70px;
    text-align: center;

    img {
      margin: 10px 10px;
      border-radius: 10px;
      width: 230px;
      height: 230px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

/* Modal Styles */
.modal-content {
  border-radius: 20px !important;

  .modal-header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #232931;
  }

  .form-group {
    color: #232931;
    letter-spacing: 1px;
    label {
      margin: 10px 0;
    }
  }

  .modal-btn {
    margin-top: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #232931;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 100%;
    cursor: pointer;
    height: 30px;
    padding: 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

/* To Do List Styles */
.todo-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  .create-task-btn {
    margin: 20px 0;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #eee;
    color: #232931;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: 100%;
    cursor: pointer;
    height: 30px;
    padding: 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .all-todo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card-wrapper {
  width: 270px;
  height: 200px;
  margin: 10px 20px;
  background-color: #eee;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  .card-top {
    width: 100%;
    height: 2%;
    background-color: #657792;
  }

  .task-holder {
    width: 100%;
    height: 98%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;

    .card-header {
      font-weight: bold;
      background: none;
      border: none;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .card-desc {
      padding: 0 15px;
      letter-spacing: 1px;
    }

    .card-buttons {
      position: absolute;
      display: flex;
      bottom: 10px;
      right: 10px;

      .edit-btn {
        border: none;
        background: none;
        img {
          width: 20px;
        }
      }

      .delete-btn {
        border: none;
        background: none;
        img {
          width: 20px;
        }
      }
    }
  }
}
